.header {
  max-width: 1280px;
  width: calc(100% - 48px * 2);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 24px * 2);
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: calc(100% - 16px * 2);
  }
}
